{% extends 'base.html' %}

<!-- Page Title-->
{% block title %}Login{% endblock %}

<!-- Page Content -->
{% block body %}

    <div class="main">
        <div class="container">
            <form class="form" method="" action="">
                <h2 class="form_title">Sign in to Website</h2>
                <input class="form_input" type="text" placeholder="Email">
                <input class="form_input" type="password" placeholder="Password">
                <a class="form_link" href="#">Forgot your password?</a>
                <button class="form_button submit">SIGN IN</button>
            </form>
        </div>
    </div>

{% endblock %}